body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #141e30;
  background-image: linear-gradient(to bottom right, #141e30, #243b55);
  background-attachment: fixed;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  z-index: 1;
  height: 100vh; /* Set the container to fill the entire viewport height */
  overflow-y: scroll; /* Enable vertical scroll if needed */
}
h1 {
  font-size: 32px;
  color: #ff3b3f;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#pokemonInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.pokemon-card {
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}

.pokemon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, transparent 50%, rgba(255, 255, 255, 0.8) 100%);
  opacity: 0.3;
  transform: rotate(45deg);
  z-index: -1;
  pointer-events: none;
  animation: glitter 1.5s infinite;
}

.pokemon-card img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  object-fit: cover;
}

.pokemon-card h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}

.pokemon-card span {
  font-size: 14px;
  color: #777;
}

@keyframes glitter {
  0% {
    background-position: -100% -100%;
  }
  100% {
    background-position: 200% 200%;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #ff3b3f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #ff1e25;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

  .pokemon-card:hover .pokemon-classification,
  .pokemon-card:hover .pokemon-qualities {
    display: block;
  }

  .pokemon-classification,
  .pokemon-qualities {
    display: none;
    margin-top: 5px;
  }
